
body {
    background-color: darkgray ;
    padding: 40px;
    text-align: center;
    font-size: 16pt;
}

input {
    font-size: 30px;
}

h1{
    font-size: 46pt;
}

button{
    width: 60px;
    height: 60px;
    padding: 10px;
    text-align: center;
    font-size: 16pt;
    border-color: black ;
    background-color: cadetblue;

}

.input{
    width: 190px;
    height: 60px;
    padding: 10px;
    text-align: center;
    font-size: 30pt;
